<div class="limiter" id="login">
    <div class="container-login100" style="background-image:url(https://image.freepik.com/free-photo/happy-woman-doing-online-shopping-home_329181-4301.jpg)">
            <div class="container">
    
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-5 col-md-offset-1">
                        <div class="login_topimg">
                        </div>
                        <div class="container text-center text-white w-255px mt-6 p-5 border border-white "  >

                            <h1 >Transaction History</h1>
                            <table  class="border border-white w-255px container" >
                                <thead class="border border-white">
                                    <tr>
                                        <th class="border border-white">Type</th>
                                        <th class="border border-white">Amount</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="border border-white">DEBIT</td>
                                        <td class="border border-white">1000</td>
                                    </tr>
                                    <tr>
                                        <td class="border border-white">CREDIT</td>
                                        <td class="border border-white">1000</td>
                                    </tr>
                                </tbody>
                            </table>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    